
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  box-shadow: 0px 2px 10px -2px rgb(120 120 120 / 74%);
  border-bottom: 2px solid #b8b0b0;
  transform: translateY(0%);
}

@media (max-width: 425px) {
  .swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
  }
}